@import '~antd/dist/antd.css';

nav{
    color: white;
    background-color: #02be6e!important;
    z-index: 999;
    transition: all .4s linear;
}
.nav-wrapper{
    box-shadow: 1px 1px 10px green;

}


.sticky {
  position: fixed;
  top: 0;
  z-index: 898990;
  width: 100%;
  /* padding: .5rem; */
  background-color: #02be6e!important;
  backface-visibility: hidden !important;
}



  /* slick css */
  .slick-next{
    right: 1rem;

  }
  .slick-prev{
    left: 1rem;
  }

  .slick-next,  .slick-prev{
    z-index: 1;
  }


  /* global classes */
  .red_message{
    color: red !important;
    padding: 8px 0;
  }

  .greenBlue{
    color: blue !important;
  }



  /* overlide classes */
  .divider{
    height: 2px;
    overflow: hidden;
    background-color: green;
  }




