body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.pull_right{
  float: right;
}

.row_del{
  margin: 0;
}

.row_del > button{
  margin-top: -7rem;
}

 /* datatable */
 .material-table{
   margin: 2rem;
   padding: 2rem;
 }

 .material-table button{
  margin: 0 .5rem;
}


/* modal */
.ant-modal-body{
  padding-bottom: 0px !important;
}


/* editor */
.wrapperClassName{
  background-color: azure;
  padding: 1rem;
}



/* image divs */
.imageDiv{
  background-repeat: no-repeat;
    background-size: cover !important;
    width: 100%;
}


/* icon to green */
.anticon {
  color: green !important;
}

.divider{
  height: 1px !important;
}




/* media queries */

@media only screen and (max-width: 400px) {
  iframe {
    width: auto !important;
  }
}
@media only screen and (max-width: 700px) {
  iframe {
    width: 80vw !important;
  }
}


@media only screen and (max-width: 400px) {
  .break_float {
    float: left;
    display: block;
    width: -webkit-fill-available;
    margin-bottom: 1rem;
  }
}