.welcome_header{
    min-height: 15rem;
    color: white;
    background-color: #1eae70;
}

.header_text{
    max-width: 40rem;
    text-align: left;
    color: white;
}
.header_text > h4{
    color: inherit
}

.place_order{
    margin: 20px 0;
}